extends layout

block content
    div.container.save
        h1.display-4.text-muted User: #{user.fullName}
        h1.display-1.text-muted #{course.title}
        h2.lead.text-muted Estimated Time: #{course.estimatedTime}
        h1.lead.text-muted Description: 
        p.lead.font-italic #{course.description}
        h2.lead.text-muted Materials Needed: 
        p.lead.text-muted #{course.materialsNeeded}
        h1.display-4.text-muted Steps:
            for step in course.steps 
                div.container
                    h1.lead Step #{step.stepNumber}:
                    h1.lead Title: #{step.title}
                    h1.lead.font-italic Desc: #{step.description}   
        if reviews.length
            div.container
                h1.display-4.text-muted Reviews:
                div.container
                    for review in reviews 
                        .card-mb-1
                            h5.card-header.text-muted #{review.reviewer}
                                h6.text-muted Posted On: #{review.postedOn}
                            .card-body
                                h5.card-title.font-italic.text-dark #{review.review}
                                p.card-text.text-danger Rating: #{review.rating}
        div.container
            form(method='POST', action='/api/review/'+ course._id )
                div.form-group
                    label(for='review').text-muted Review:
                    input#name.form-control(type='text', placeholder='Your comment...' name='review')
                div.form-group
                    label(for='rating').text-muted Rating:
                    input#name.form-control(type='number', min="1", max="5", placeholder='Rating' name='rating').w-25
                button.btn.btn-primary(type='submit') Add Review
                button.btn.btn-primary.ml-2.toggle(type='button') Update Course
    div.container.edit
        h1.display-4.text-muted User: #{user.fullName}
        form(method="POST", action="/api/course/"+ course.id)
            div.form-group
                label(for='title').text-muted Title:
                input#name.form-control(type='text' value = course.title name='title')
            div.form-group
                label(for='estimatedTime').text-muted Estimated Time:
                input#name.form-control(type='text' value = course.estimatedTime name='estimatedTime')
            div.form-group
                label(for='description').text-muted Description:
                input#name.form-control(type='text' value = course.description name='description')
            div.form-group
                label(for='materialsNeeded').text-muted Materials Needed:
                input#name.form-control(type='text' value = course.materialsNeeded name='materialsNeeded')
            div.step
                button.btn.btn-primary.mr-2.addStep(type='button', value='Add Step') Add Step
                button.btn.btn-primary.removeStep(type='button', value='Remove Step') Remove Step
                for step in course.steps 
                    div.container
                        h1.lead Step #{step.stepNumber}:
                        div.form-group
                            label(for='stepTitle').text-muted Step title:
                            input#name.form-control(type='text' value = step.title name='stepTitle')
                        div.form-group
                            label(for='stepDescription').text-muted Step description:
                            input#name.form-control(type='text' value = step.description name='stepDescription')
            button.btn.btn-primary.mt-5.savebutton(type='submit') Save
        script.
            let step = $('.step');
              $('.addStep').click(() => {
                  let newStep = `<div class="container", name='steps'>
                  <div class="form-group">
                    <label for="stepTitle" class="text-muted">Step Title:
                    <input id="name" type="text" name="stepTitle"  class="form-control"/>
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="stepDescription" class="text-muted">Description:
                    <input id="name" type="text" name="stepDescription" class="form-control"></textarea>
                    </label>
                  </div>
                  </div>`;
                  step.append(newStep);
              });
              $('.removeStep').click(() => {
                if(step.children().length > 2) {
                  step.children().last().remove(); 
              }   
              })
            $('.toggle').click(() => {
                    $('.save').hide();    
                    $('.edit').show();           
                });
            if( $('.edit') ) {
                $('.edit').hide();
                $('.save').show();  
            }
            
